{% extends 'main/main.html' %}

{% block content %}
  <div class="hero">
    <div class="hero-body">
      <p class="title">Welcome to Critboard</p>
      <p class="subtitle">CritBoard makes it easy for content creators to interact with
        their audience and give them critical feedback on their music, videos, and art.
      </p>
      <a id="submitPage" class="button is-white" href="{% url 'upload:submit_select' %}">Submit</a>    
    </div>
  </div>
  <div class="content m-5">
    {% if submission_list %}
    <ul>
      {% for submission in submission_list %}
      <li class="submission">
        <a class="listLink submissionLink" href="{% url 'upload:submission' submission_type='file' submission_id=submission.id %}">
          <span class="listTitle submissionTitle"><b>{{ submission.title }}</b></span>  
          <span><b>Description:</b> {{ submission.description }}</span>
          <span><b>Created:</b> {{ submission.created_at }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock %}